<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Stage</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
<header>
    <h1>Ajouter un Stage</h1>
</header>

<div class="main-container">
    <form action="#" th:action="@{/stages/add}" method="post">
        <label for="title">Titre:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="startDate">Date de début:</label>
        <input type="date" id="startDate" name="startDate" required>

        <label for="endDate">Date de fin:</label>
        <input type="date" id="endDate" name="endDate" required>

        <label for="company">Entreprise:</label>
        <input type="text" id="company" name="company" required>

        <label for="student">Étudiant:</label>
        <select id="student" name="student" required>
            <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.name}">John Doe</option>
        </select>

        <button type="submit">Ajouter</button>
    </form>
    <a href="/stages"><button>Retour à la liste des stages</button></a>
</div>
</body>
</html>
