<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
<header>
    <h1>Bienvenue dans le système de gestion des stages</h1>
</header>

<div class="main-container">
    <div class="navbar">
        <a href="/students" class="active">Étudiants</a>
        <a href="/students/add">Ajouter un Étudiant</a>
        <a href="/stages">Stages</a>
        <a href="/stages/add">Ajouter un Stage</a>
    </div>

    <div class="card">
        <h2>Gestion des Étudiants et Stages</h2>
        <p>Bienvenue dans le système où vous pouvez gérer les étudiants et les stages.</p>
        <p>Utilisez le menu de navigation pour ajouter, afficher et gérer les étudiants et les stages.</p>
    </div>
</div>
</body>
</html>
